@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
}

/* Update your index.css */
@layer base {
  body {
    @apply bg-black text-[#A0A0A0] antialiased selection:bg-[#FF5F1F] selection:text-white;
    background-image: radial-gradient(
      circle at 50% 0%,
      #ff5f1f10 0%,
      transparent 50%
    );
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  width: 8px;
  background-color: #ff5f1f;
}
