@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
}

/* Update your index.css */
@layer base {
  body {
    background-color: rgb(5, 5, 5);
    @apply text-[#A0A0A0] antialiased selection:bg-[#FF5F1F] selection:text-white;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  width: 8px;
  background-color: #ff5f1f;
}

:root {
  --border-light: #e5e5e517;
}
