@import "tailwindcss";

/* Update your index.css */
@layer base {
  body {
    @apply bg-black text-[#A0A0A0] antialiased selection:bg-[#FF5F1F] selection:text-white;
    background-image: radial-gradient(
        circle at 50% 0%,
        #ff5f1f10 0%,
        transparent 50%
      ),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.05'/%3E%3C/svg%3E");
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  height: 8px;
  width: 8px;
  background-color: #ff5f1f;
}
